
.login-header {
    background: url("/assets/img/login_header.png") repeat;
    height: 7%;
    width: 100%;
    padding-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20-x; font-weight: bold; color: #fff;
}

.login-content {
    background: url("/assets/img/login_content.jpg") no-repeat;
    height: 93%;
    width: 100%;
    padding-top: 10px;
}


