.circulo {
    width: 60%;
    margin-left: 20%;
    border-radius: 100%;
    margin-top: 25px;
    display: block;     
}

.profile {
    background-color: #d4a4cf;
    text-align: center;
}

.dados {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px; color: #250221; 
}

.negrito {
    font-weight: bolder;    
}
